<article id="animal-handbook-list">
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <%= render_list class: 'nav nav-tabs' do |li|
    li << [link_to(t('helpers.new'), new_animal_handbook_path), { class: 'action' }]
  end %>

  <%= render 'table', animal_handbooks: @animal_handbooks %>

  <nav role="pagination">
  </nav>
</article>
