<article>
  <header>
    <h1><%= @animal_handbook.name %></h1>
  </header>

  <%= render_list class: 'nav nav-tabs' do |li|
    li << [link_to(t('helpers.index'), animal_handbooks_path), { class: 'action' }]
    li << [link_to(t('helpers.edit'), [:edit, @animal_handbook]), { class: 'action' }]
  end %>

  <div>
    <h3><%= t('.creatures') %></h3>
    <%= render 'creatures/table', creatures: @animal_handbook.creatures %>
  </div>

  <footer>
  </footer>
</article>
