<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @animal_handbook.name %>
</p>


<%= link_to 'Edit', edit_animal_handbook_path(@animal_handbook) %> |
<%= link_to 'Back', animal_handbooks_path %>
